/* Estilo para la página de direcciones */
.address-page {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Contenido de direcciones */
.directions {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para los elementos dentro de direction */
.directions p {
    font-size: 18px;
    margin-bottom: 10px;
}

.directions hr {
    margin: 20px 0;
}

/* Lista de direcciones */
#address-list {
    list-style: none;
    padding: 0;
}

#address-list li {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delete {
    flex-direction: left;
    color: gray;
    cursor: pointer;
}

/* Estilos del formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.submit-btn {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
