/* Estilos Generales */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; 
}

h1, h2 {
  color: #333;
}


h2 {
  font-size: 20px; 
}

/* Estilo de la barra de navegación */
.navbar {
  margin-bottom: 20px; 
}

/* Contenedor principal */
.profile-page {
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Menú lateral */
.sidebar {
  width: 250px;
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-right: 20px; 
}

.sidebar h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 20px; 
}

.sidebar ul {
  list-style: none; 
  padding: 0; 
}

.sidebar ul li {
  margin-bottom: 15px; 
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: underline;
  color: #000;
}

/* Contenido del perfil */
.profile-content {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-content h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Formulario de edición de perfil */
#edit-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  grid-column: span 2;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #333;
}

/* Estilos para la imagen de perfil y botón de cambiar */
.profile-picture-container {
  position: auto;
  overflow-x: visible;
  overflow-y: auto;
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.profile-picture {
  text-align: center;
}

.profile-img-placeholder {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  background-color: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; 
  margin: auto;
}

.profile-img-placeholder img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.profile-picture button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.profile-picture button:hover {
  background-color: black;
  color: white;
}


/* Configuración de modo claro/oscuro */
.edit-mode {
  margin-top: 30px;
}

.theme-selector {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.theme-selector button {
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Dirección actual */
.directions {
  padding: 20px;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  margin-top: 10px;
  flex-direction: cente;
}

 /*container de tarjetas de información*/
 p{
  margin-block-end: 3em;
}

a{
  color: #000;
}

.card_container {
  display: flex;
  gap: 4em;
  align-items: start;
  flex-wrap: wrap;
}

.card{
  display: grid;  
  width: 400px;
  gap: 0.5em;
  border: none;
}

.card_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px;
  padding-bottom: 0.25em;
}

.card_title h5{
  margin-block: 0;
}

.card_body{
  display: grid;
  gap: 0.25em;
}

.card_body p{
  margin-block: 0;
}    

.predeterminada{
display: grid;
}

.predeterminada::after{
  content: "(Dirección predeterminada)";
  color: gray;

}
