/* Estilos del navbar y menú hamburguesa */

#nav-1, #nav-2  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

#nav-2 {
    background-color: black;
}

#nav-1 ul, #nav-2 ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-1 ul li, #nav-2 ul li {
    margin-right: 20px;
}

#nav-1 ul li a, #nav-2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

#hamburger-menu {
    display: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

/* Contenedor principal */
.product-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Estilo para la vista de lista (por defecto) */
.product-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    width: 100%;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la imagen */
.product-image {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    background-color: #f8f8f8;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.product-list:not(.grid-view) .product-image {
    margin-right: 20px;
}

/* Estilo para el contenido */
.product-content {
    flex-grow: 1;
}

.product-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.product-content p {
    margin: 15px 0;
    color: #666;
}

/* Estilo para el precio */
.product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* Estilo para la cantidad de vendidos */
.product-sold {
    font-size: 0.9rem;
    color: #999;
}

/* Estilo para la vista de grilla */
.grid-view .product-list {
    display: block;
}

/* Ajustes específicos para la vista en grilla */
.grid-view .product-item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 15px);
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
}

.grid-view .product-image {
    margin: 0;
}

/* Ajustes específicos para la imagen en la vista de grilla */
.grid-view .product-image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

/* Ajustes específicos para el contenido en la vista de grilla */
.grid-view .product-content {
    margin-top: 10px;
}

/* BOTON ACTIVO */
#grid-view,#list-view {
    background-color: grey;
    color: white;
    border: none;
    box-shadow: none;
}

#grid-view.active, #list-view.active{
    background-color: #0d6efd;
    box-shadow: none;
}

#grid-view:hover, #list-view:hover {
    background-color: black;
}



/* Estilos para celulares */

@media (max-width: 576px) {
    #nav-1, #nav-2 {
        flex-direction: column;
        width: 100%;
        /* background-color: #333; */
    }

    #nav-1 ul li, #nav-2 ul li {
        margin-right: 0;
        text-align: center;
        padding: 10px 0;
    }

    #nav-1 {
        padding: 6px 0;
    }

    #nav-1 ul li {
        margin-right: 0.5rem; 
    }

    #nav-1 ul li a {
        font-size: 0.5rem; 
    }

    .col-3 .nav-link { 
        display: none;
      }

    
    .breadcrumb {
        font-size: 0.5rem;
        padding: 6px; 
    }

    .breadcrumb .separator {
        margin: 0 2px; 
    }
    
    /* Ajustes para la vista de lista */
    

        .product-item {
            flex-direction: row; 
            align-items: right; 
            border-color: #333;
        }
    
        .product-image {
            width: 25%;
            height: 75px;
            border-right: none; 
        }
    
        .product-content {
            word-wrap: break-word;
            padding: 5px; 
        }
    
        .product-content h2 {
            font-size: 0.5rem;
            word-wrap: break-word;
        }
    
        .product-content p {
            font-size: 0.4rem;
            word-wrap: break-word; 
        }
    
        .product-price {
            font-size: 0.5rem; 
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }

        .btn-outline-secondary {
            font-size: 0.7rem;
            padding: 0.4rem 0.8rem;
            margin-top: 0.5rem;
        }
    
        .product-sold {
            font-size: 0.5rem; 
            word-wrap: break-word;
        }
    
    

    /*Ajustes para vista de grilla*/

    .grid-view .product-item {
        width: fit-content;
        height: fit-content;
        margin-bottom: 20px;
    }

    .grid-view .product-item:nth-child(2n) {
        margin-right: 0;
    }

    .grid-view .product-image {
        height: 180px;
        object-fit: cover;
    }
}

/* Estilos para tablets */

@media (min-width: 577px) and (max-width: 768px) {
    
    #nav-1, #nav-2 {
        flex-direction: column;
        width: 100%;
        /* background-color: #333; */
    }

    #nav-1 ul li, #nav-2 ul li {
        margin-right: 0;
        text-align: center;
        padding: 10px 0;
    }
    
    .breadcrumb a.nav-link {
        font-size: 0.9em;
    } 
    .product-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .product-image {
        width: 150px;
        height: 150px;
        margin-right: 15px;
        object-fit: cover;
    }

    .product-content {
        flex: 1;
        width: auto;
    }

    .product-content h2 {
        font-size: 1.2rem;
        margin: 0;
    }

    .product-content p {
        font-size: 1rem;
        margin: 5px 0;
    }

    .product-price {
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }

    .product-sold {
        font-size: 0.85rem;
        color: #888;
    }

    /* Ajustes para vista de grilla */

    .grid-view .product-item {
        width: calc(50% - 15px);
        margin-bottom: 20px;
    }

    .grid-view .product-item:nth-child(2n) {
        margin-right: 0;
    }

    .grid-view .product-image {
        height: 180px;
        object-fit: cover;
    }
}


/* Estilos para Resolución Estándar */
@media (min-width: 769px) {
    /* Ajustes para la vista de lista */
    .product-item {
        flex-direction: row;
        align-items: center;
    }

    .product-image {
        width: 250px;
        height: 250px;
        margin-right: 20px;
    }

    .product-content {
        flex-grow: 1;
    }

    .product-content h2,
    .product-price {
        font-size: 1.25rem;
    }

    .product-content p {
        font-size: 1rem;
    }

    .product-sold {
        font-size: 0.9rem;
    }

    /* Ajustes para la vista de grilla */
    .grid-view .product-item {
        width: calc(33.33% - 15px);
    }

    .grid-view .product-image {
        height: 200px;
    }
}

